@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    font-family: 'Raleway';
   color: #fff;
   font-size: 25px;
   text-transform: uppercase;
}


html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


#main{
    height: 100%;
    width: 100%;
    background-color:#020304;
}

#nav-1 > #image{
    height: 40px;
    margin-top: 10px;
    margin-left: 20px;
    align-items: center;
    justify-content: center;

}

#nav-2  {
    display: flex;
    gap: 40px;
}

#nav{
    padding-top: 20px;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;
}

#nav-3{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    
}

button{
    color: #020304;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 10px;
    
    
}

#main #content h1 {
    font-size: 130px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex; 
    line-height: 30px;
    letter-spacing: 15px;
    

}

#main #content span {
    font-size: 50px;
    background-color: rgba(122, 41, 41, 0.883);
    padding: 40px;
    border-radius: 70px;
    align-items: center;
    font-family: 'Playfair';
    letter-spacing: normal;

}

#content{
    z-index:2;
    position: relative;
}

#im1{
    height: 300px;
    position: absolute;
    border-radius:30px;
    top:11%;
    left: 5%;
    z-index: 1;
}
#im2{
    height: 300px;
    position: absolute;
    border-radius:30px;
    bottom:13%;
    left: 17%;
    z-index: 1;
}
#im3{
    height: 300px;
    position: absolute;
    border-radius:30px;
    top:17%;
    right: 8%;
    z-index: 1;
}
#im4{
    height: 300px;
    position: absolute;
    border-radius:30px;
    bottom:9%;
    right: 12%;
    z-index: 3;
}